<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
    <stringAttribute key="bad_container_name" value="/bigbigpuppetfacts/examples/launchers"/>
    <booleanAttribute key="enableBreakOnFirstLine" value="false"/>
    <booleanAttribute key="enableDbgpLogging" value="false"/>
    <stringAttribute key="interpreterArguments" value="-I ../../lib"/>
    <stringAttribute key="mainScript" value="lib/tests/bbpf_addons_qr/testbigbigpuppetfacts.rb"/>
    <stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/bigbigpuppetfacts/lib/tests/bbpf_addons_qr/testbigbigpuppetfacts.rb"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.dltk.launching.INTERPRETER_CONTAINER" value="org.eclipse.dltk.launching.INTERPRETER_CONTAINER/org.eclipse.dltk.internal.debug.ui.launcher.GenericRubyInstallType/ruby(rbenv)"/>
    <booleanAttribute key="org.eclipse.dltk.launching.debugConsole" value="true"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
    <stringAttribute key="project" value="bigbigpuppetfacts"/>
    <stringAttribute key="workingDir" value="${workspace_loc:bigbigpuppetfacts/lib/tests/bbpf_addons_qr/tests}"/>
</launchConfiguration>
