<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyRemoteLaunchConfigurationType">
    <stringAttribute key="bad_container_name" value="/bigbigpuppetfactsexamples/launchers"/>
    <stringAttribute key="dbgp_session_id" value="idekey"/>
    <stringAttribute key="dbpg_port" value="10000"/>
    <intAttribute key="dbpg_waiting_timeout" value="30000"/>
    <booleanAttribute key="enableBreakOnFirstLine" value="false"/>
    <booleanAttribute key="enableDbgpLogging" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/bigbigpuppetfacts"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="project" value="bigbigpuppetfacts"/>
    <stringAttribute key="remoteWorkingDir" value="/Users/valente/Documents/@Work/SCB/codes/bigbigpuppetfacts"/>
    <booleanAttribute key="stripSourceFolders" value="false"/>
</launchConfiguration>
